# Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
*.iml
*.log
# Keep pubspec.lock for apps (reproducible builds), but ignore other lock files
# (e.g. Gradle's buildscript caches)
buildscript-*.lock

# Android
*.apk
*.aab
*.jks
*.keystore

# IDE
.idea/
.vscode/

# macOS
.DS_Store
